# **SKLEARN**

## **MAIN**

In [72]:
import pandas as pd
import sklearn as sk

In [73]:
df = pd.read_csv('https://raw.githubusercontent.com/o-KezoW/' + 
            'advanced_python/main/src/data_files/doencas_coracao.csv')
df

      age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0    75.0        0                       582  ...        0     4            1
1    55.0        0                      7861  ...        0     6            1
2    65.0        0                       146  ...        1     7            1
3    50.0        1                       111  ...        0     7            1
4    65.0        1                       160  ...        0     8            1
..    ...      ...                       ...  ...      ...   ...          ...
294  62.0        0                        61  ...        1   270            0
295  55.0        0                      1820  ...        0   271            0
296  45.0        0                      2060  ...        0   278            0
297  45.0        0                      2413  ...        1   280            0
298  50.0        0                       196  ...        1   285            0

[299 rows x 13 columns]

In [74]:
# Converting the data into an array
x = df.iloc[:, :-1].values
y = df.iloc[:, -1].values
    

print(f'''X ARRAY (INPUT):
{x}
Y ARRAY (TARGET, OUTPUT):
{y}''')

X ARRAY (INPUT):
[[7.500e+01 0.000e+00 5.820e+02 ... 1.000e+00 0.000e+00 4.000e+00]
 [5.500e+01 0.000e+00 7.861e+03 ... 1.000e+00 0.000e+00 6.000e+00]
 [6.500e+01 0.000e+00 1.460e+02 ... 1.000e+00 1.000e+00 7.000e+00]
 ...
 [4.500e+01 0.000e+00 2.060e+03 ... 0.000e+00 0.000e+00 2.780e+02]
 [4.500e+01 0.000e+00 2.413e+03 ... 1.000e+00 1.000e+00 2.800e+02]
 [5.000e+01 0.000e+00 1.960e+02 ... 1.000e+00 1.000e+00 2.850e+02]]
Y ARRAY (TARGET, OUTPUT):
[1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1
 1 0 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 0 1 0 1 1 1 1 1 0 0 1 0
 1 1 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1
 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0
 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1
 1 1 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 1 0
 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0]

## **FOR THE EXAM**

In [75]:
death_df = df[['DEATH_EVENT', 'age']]
is_dead = death_df['DEATH_EVENT'] == 1

death_df = death_df[is_dead]
death_df['age'].mean()

65.21528125

In [76]:
df.dtypes

age                         float64
anaemia                       int64
creatinine_phosphokinase      int64
diabetes                      int64
ejection_fraction             int64
high_blood_pressure           int64
platelets                   float64
serum_creatinine            float64
serum_sodium                  int64
sex                           int64
smoking                       int64
time                          int64
DEATH_EVENT                   int64
dtype: object

In [77]:
women_df = df[['DEATH_EVENT', 'sex']]
is_dead_women = (women_df['DEATH_EVENT'] == 1) & (women_df['sex'] == 0 )

dead_women = women_df[is_dead_women]
print(dead_women)
print(f'\nNumber of dead women: {len(dead_women.index)}')

     DEATH_EVENT  sex
4              1    0
8              1    0
18             1    0
19             1    0
21             1    0
24             1    0
26             1    0
32             1    0
37             1    0
39             1    0
41             1    0
44             1    0
49             1    0
51             1    0
52             1    0
53             1    0
54             1    0
61             1    0
66             1    0
68             1    0
82             1    0
84             1    0
105            1    0
113            1    0
119            1    0
126            1    0
150            1    0
163            1    0
165            1    0
186            1    0
187            1    0
213            1    0
217            1    0
230            1    0

Number of dead women: 34

## **NORMALIZER AND SPLITING**

In [78]:
# Function that divides the dataset
from sklearn.model_selection import train_test_split 

# Splits 20% of the data for testing
x_train, x_test, y_train, y_test = train_test_split(x, y,
                                                    test_size=0.30,
                                                    random_state=42)

In [79]:
from sklearn.preprocessing import MinMaxScaler

normalize = MinMaxScaler() # Normalizes the data
x_train = normalize.fit_transform(x_train)
x_test = normalize.fit_transform(x_test)

print(f'''
X_train:
{x_train}

{"-" * 50}
{"-" * 50}

X_test:
{x_test}
''')

X_train:
[[0.32727273 0.         0.07131921 ... 1.         0.         0.71530249]
 [0.54545455 0.         0.01760653 ... 0.         0.         0.22064057]
 [0.03636364 1.         0.00803776 ... 1.         1.         0.70106762]
 ...
 [0.27272727 0.         0.09249809 ... 1.         0.         0.29893238]
 [0.07272727 0.         0.07131921 ... 1.         1.         0.85409253]
 [0.72727273 0.         0.11163562 ... 1.         1.         0.29537367]]

--------------------------------------------------
--------------------------------------------------

X_test:
[[0.55555556 0.         0.06988896 ... 1.         1.         0.8962963 ]
 [0.18518519 1.         0.03278903 ... 1.         1.         0.85925926]
 [0.09259259 0.         0.31286741 ... 1.         0.         0.44814815]
 ...
 [0.77777778 1.         0.04337035 ... 1.         0.         0.01851852]
 [0.64814815 1.         0.00444154 ... 1.         1.         0.00740741]
 [0.18518519 0.         0.02651862 ... 1.         1.         0.41481481]]

## **KNN**

In [80]:
from sklearn.neighbors import KNeighborsClassifier

clf_KNN = KNeighborsClassifier(n_neighbors=5)
clf_KNN.fit(x_train, y_train)  #  Actually applies the classification

print(clf_KNN)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [81]:
y_pred = clf_KNN.predict(x_test)
print(y_pred)

[0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0]

In [82]:
from sklearn.metrics import classification_report, confusion_matrix

# Builds the confunsion matrix to compare with the created model
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[50  3]
 [34  3]]
              precision    recall  f1-score   support

           0       0.60      0.94      0.73        53
           1       0.50      0.08      0.14        37

    accuracy                           0.59        90
   macro avg       0.55      0.51      0.43        90
weighted avg       0.56      0.59      0.49        90

## **DECISION TREE**

In [83]:
from sklearn.tree import DecisionTreeClassifier

clf_tree = DecisionTreeClassifier(random_state=1)
clf_tree.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=1, splitter='best')

In [84]:
y_pred = clf_tree.predict(x_test)
print(y_pred)

[0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 1 0 0 0 0 0 0 1 0 1 1 0 0 0
 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 1 0 1 0 0 0 0 0 0
 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0]

In [85]:
from sklearn.metrics import classification_report, confusion_matrix

# Builds the confunsion matrix to compare with the created model
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[47  6]
 [25 12]]
              precision    recall  f1-score   support

           0       0.65      0.89      0.75        53
           1       0.67      0.32      0.44        37

    accuracy                           0.66        90
   macro avg       0.66      0.61      0.59        90
weighted avg       0.66      0.66      0.62        90

## **MLP**

In [86]:
from sklearn.neural_network import MLPClassifier

clf_mlp = MLPClassifier(solver='lbfgs', alpha=1e-5,
                        hidden_layer_sizes=(5,10), random_state=1)

clf_mlp.fit(x_train, y_train)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(5, 10), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=200,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=1, shuffle=True, solver='lbfgs',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [88]:
y_pred = clf_mlp.predict(x_test)
y_pred

array([0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0])

In [89]:
from sklearn.metrics import classification_report, confusion_matrix

print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[53  0]
 [30  7]]
              precision    recall  f1-score   support

           0       0.64      1.00      0.78        53
           1       1.00      0.19      0.32        37

    accuracy                           0.67        90
   macro avg       0.82      0.59      0.55        90
weighted avg       0.79      0.67      0.59        90

# **THREADING**

In [103]:
def counter():
    x = 1000000000
    while x != 0:
        x -= 1

In [93]:
def sequencial_call():
    counter()
    counter()

In [98]:
import threading

def threading_call():
    thread_1 = threading.Thread(target=counter)
    thread_2 = threading.Thread(target=counter)

## **COMPARISON**

In [106]:
import time

start = time.time()
sequencial_call()
stop = time.time()

total_time = stop - start
print(total_time)

108.60821151733398

In [158]:
import time

start = time.time()
threading_call()
stop = time.time()

total_time = stop - start
print(total_time)

7.319450378417969e-05

## **SLEEPY THREADING**

In [159]:
import time
from random import randint

def sleepy_counter():
    x = 1000000000
    time.sleep(100000000)
    while x != 0:
        x - 1

In [136]:
import threading

def sleepy_call():
    thread_1 = threading.Thread(target=sleepy_counter)
    thread_2 = threading.Thread(target=sleepy_counter)

In [161]:
import time

start = time.time()
sleepy_call()
stop = time.time()
total_time = stop - start

print(total_time)

0.00010561943054199219